.elements__footer{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 25px 30px 31px 21px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
