.elements__group{
  background-image: url(../../../images/like.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 22px;
  height: 19px;
  align-self: center;
  border: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.elements__group:hover{
  opacity: .5;
  cursor: pointer;
}
